
<div class="row">




<div class="col-md-12">

<div class="row">


  <div class="col-sm-12 col-md-4 pull-right">
    <h2>Task List</h2>
    <p>Use this task list to organize your daily life.</p>
  </div>


  <div class="col-sm-12 col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th class="desc">Description</th>
          <th class="status">Status</th>
          <th class="edit">Edit</th>
          <th class="delete">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasksList" ng-class="{ active : task.status, completed : task.status}">
          <td class="desc" ng-click="editTask(task)">{{ task.description }}</td>
          <td class="status">
            <input ng-click='toggleStatus(task)' type="checkbox" {{task.checked}}>
          </td>
          <td class="edit">
            <button ng-click='editTask(task)' class="btn btn-xs btn-warning">Edit</button>
          </td>
          <td class="delete">
            <button ng-click='removeTask(task)' class="btn btn-xs btn-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-sm-12 col-md-8 addArea">
    <h3 ng-if="editing === false">Add a Task:</h3>
    <h3 ng-if="editing === true">Edit Task:</h3>
    <form name="addTaskForm" class="form-inline pull-right">
      <div class="form-group">
        <label for="taskdesc">Task Description: </label>
        <input ng-model="task.description" type="text" class="form-control" id="taskdesc" placeholder="i.e. buy eggs and milk!">
      </div>

      <button ng-if="editing === false" ng-click="addTask(task)" type="submit" class="btn btn-success">Add Task</button>
      <button ng-if="editing === true" ng-click="updateTask(task)" type="submit" class="btn btn-warning">Edit Task</button>
    </form>
  </div>





  </div>
